{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <figure class="text-center">
        <h1>Bonjour {{user.firstName}} </h1>
        <a href={{"logout"}}><button type="button" class="btn btn-outline-danger">Se déconnecter</button></a>
        <a href={{"new-tribe"}}><button type="button" class="btn btn-outline-success">Créer une tribu</button></a>
    </figure>
{% endblock %}