{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="container">
<figure class="text-center">
    <h1>TribuMiam</h1>
    <h2><small class="text-muted">Partagez vos recettes au sein de votre Tribu</small></h2>
</figure>

</div>
{% endblock %}
