<h1>Bonjour, merci de confirmer votre email</h1>

<p>
    Merci de confirmer votre adresse email en cliquant sur le lien suivent: <br><br>
    <a href="{{ signedUrl }}">Confirmer mon email</a>.
    Le lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Merci !
</p>
