{% extends 'base.html.twig' %}

{% block title %}Créer une tribu{% endblock %}

{% block body %}
    <h1 class="text-center">Créer une tribu</h1>
    {{ form_start(form) }}

        {{ form_row(form.name, {
            label: 'Nom'
        }) }}
        {{ form_row(form.description, {
            
        }) }}
        <button type="submit" class="btn btn-primary">Créer</button>
    {{ form_end(form) }}

{% endblock %}